{% extends 'main/index.html' %} {% block title %} {{title}} {% endblock %} {% block content %}

<div class="container-lg bg-dark text-white-50">
    <center>
{% comment %} showing messages to client if available {% endcomment %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
        <h1>{{ahang.author}}-{{ahang.ahang_esm}}</h1>
        <h2>{{ahang.updateDate|linebreaks}}</h2>
        <hr class="badge-primary col-sm-5">
        <h4>{{ahang.description|safe}}
            <br/>
            <p></p>

            <div class="containter-fluid">
                <audio controls="controls">
        <source src="{{ahang.ahang_file.url}}" >
        مرورگر شما از موسیقی پشتیبانی نمیکند یک مرورگر بهتر بگیرید :)
    </audio>
                <p></p>
                <a href={{ahang.ahang_file.url}} target="_blank" class="nav-link active" download>
        برای دانلود کلیک کنید
    </a>
            </div>
            <br>
            <p></p>
            <form  method="POST">
                {% csrf_token %}
                {{nazar_form.as_p}}
                <button type="submit" class="btn btn-success">
                    ارسال
                </button>
            </form>
            <p></p>
            <br />
            <div class="container-fluid">
                <span>
                    {% for n in nazarat %}
                       <p></p>
                       <br>
                      <b>{{n.comment}}</b>
                      {% if n.isRead %}
                        <small class=btn-success>this comment have been read </small>
                        {% else %}
                        <small class="btn-danger">this comment is not seen yet</small>
                      {% endif %}
                       <br>
                       <p></p>
                       
                    {% endfor %}
                </span>
            </div>
    </center>
</div>
{% endblock %}
